@using PagedList.Mvc
@using com.tg.WMS.Domain
@model PagedList.IPagedList<SysMenu>
@{
    ViewBag.Title = "Index";
}

<link href="~/Scripts/easyui/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Scripts/easyui/themes/icon.css" rel="stylesheet" />
<link href="~/Scripts/easyui/demo/demo.css" rel="stylesheet" />
<script src="~/Scripts/easyui/jquery.min.js"></script>
<script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<script src="~/Scripts/easyUI/locale/easyui-lang-zh_CN.js"></script>


<table class="easyui-datagrid" title="DataGrid Complex Toolbar" style="width:100%;height:auto"
       data-options="singleSelect:true,url:'datagrid_data1.json',method:'get',toolbar:'#tb',autoRowHeight:false,
			pagination:true,pageSize:10">
            <tr>
                <th data-options="field:'itemid',width:80">菜单名称</th>
                <th data-options="field:'productid',width:80">类名</th>
                <th data-options="field:'listprice',width:80">控制器名</th>
                <th data-options="field:'unitcost',width:80">动作名</th>
                <th data-options="field:'attr1',width:80">排序码</th>
                <th data-options="field:'status',width:80">上级菜单</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ClassName</td>
                    <td>@item.ControllerName</td>
                    <td>@item.ActionName</td>
                    <td>@item.SortCode</td>
                    <td> @item.ParentMenu </td>
               </tr>
            }

</table>
<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cut" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>

    </div>
    <div>
        Date From: <input class="easyui-datebox" style="width:80px">
        To: <input class="easyui-datebox" style="width:80px">
        Language:
        <select class="easyui-combobox" panelheight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconcls="icon-search">Search</a>
    </div>
</div>